.banner {
    padding: 3rem 7.5rem 6.25rem;
    background-color: var(--rosa-escuro);
    color: var(--branco);
    display: grid;
    grid-template-columns: 1fr 1fr;
}
 
.titulo {
    font-family: var(--fonte-secundaria);
    font-size: 1.8rem;
    margin-top: 4.875rem;
    margin-bottom: 2rem;
}
 
.paragrafo {
    font-family: var(--fonte-secundaria);
    font-size: 1.3rem;
    line-height: 2rem;
    margin-bottom: 2rem;
}
 
.imagens {
    position: relative;
    height: 406px;
}
 
.imagens > .minhaFoto {
    position: absolute;
    right: 0;
    bottom: 0;
 
   
    width: 350px;
    height: 350px; 
    border-radius: 50%; 
    object-fit: cover; 
    object-position: top;
}
 
.imagens > .circuloColorido {
    position: absolute;
    right: 7vw;
    bottom: 2.2vw;
    width: 25vw;
}
 
@media (max-width: 1100px) {    
    .banner {
        padding: 3.5rem 1.5rem;
    }
 
    .titulo {
        margin-top: 0;
        margin-bottom: 1.5rem;
    }
 
    .paragrafo {
        margin-bottom: 1.5rem;
    }
 
    .imagens {
        height: 338px;
    }
   
    .imagens > .minhaFoto {
        width: 50vw;
        border-radius: 50%;
        width: 350px;
        height: 350px; 
    }
   
    .imagens > .circuloColorido {
        right: 10vw;
        width: 35vw;
    }
}
 
@media (max-width: 744px) {
    .banner {
        padding: 2rem 1rem;
        display: block;
    }

    .titulo {
        margin-bottom: 2rem;
    }

    .paragrafo {
        margin-bottom: 2rem;
    }

    .imagens {
        height: auto; /* Ajusta a altura */
        display: flex;
        justify-content: center;
        align-items: flex-start;
        position: relative; /* Para posicionamento absoluto dos filhos */
        margin-top: 1rem; /* Ajusta o espaçamento acima */
    }

    .imagens > .minhaFoto {
        width: 45vw; /* Tamanho adequado para mobile */
        height: 45vw; /* Mantém a altura igual à largura para circularidade */
        position: absolute; /* Posiciona a foto em relação ao container */
        right: 5vw; /* Ajuste para afastar do canto */
        bottom: 10px; /* Um pouco acima do fundo */
        border-radius: 50%; /* Garante que fique redonda */
        z-index: 0; /* Garante que a foto fique atrás do círculo */
    }

    .imagens > .circuloColorido {
        width: 240px; /* Ajuste conforme necessário */
        position: relative; /* Garante que o círculo permaneça na posição padrão */
        z-index: 1; /* Garante que o círculo fique acima da foto */
        margin-top: 1rem; /* Aumenta o espaçamento se necessário */
    }
}
